[Unit]
Description=demo Service

[Service]
User=root
WorkingDirectory=/opt/demo/
ExecStart=/usr/bin/nodejs app.js
SuccessExitStatus=143
TimeoutStopSec=10
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
