doctype html
html
  head
    title #{title} - The Twelve Principles Of Agile Development
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 The Twelve Principles Of Agile Development
    .container
      .main-content
        block content
    footer
      p Source - https://agilemanifesto.org/
